{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>
<div style="width: 460px; float:left; height:250px; margin:10px">
First DIV
</div>
<div style="width: 460px; float:left; height:250px; margin:10px">
Second DIV
</div>

<div style="width: 460px; float:left; height:250px; margin:10px">
Third DIV
</div>
<div style="width: 460px; float:left; height:250px; margin:10px">
fourth DIV
</div>
{% endblock %}