{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>
<div style="width: 460px; float:left; height:250px; margin:10px">
<h2 style="border-bottom: 0px;"><b>Dashboard</b></h2>
<i class="fas fa-tablet-alt fa-6x align-middle"></i>
</div>
<div style="width: 460px; float:left; height:250px; margin:10px">
Second DIV
</div>

<div style="width: 460px; float:left; height:250px; margin:10px">
Third DIV
</div>
<div style="width: 460px; float:left; height:250px; margin:10px">
fourth DIV
</div>
{% endblock %}